<!DOCTYPE html>
<html lang="en" xmlsn:th="http://thymeleaf.org">

<head th:include="usuario/templateUser.html::head"></head>

<body>

	<div th:include="usuario/templateUser.html::header"></div>

	<!-- ======= Hero Section ======= -->
	<section>

	</section><!-- End Hero Section -->

	<main id="main">
		<div class="container">
			<h1 class="mt-4 mb-3">
				Spring e Vommerce CRUD <small>Carrito</small>
			</h1>
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a th:href="@{/}">home</a>
				</li>
				<li class="breadcrumb-item active">Carrito</li>
			</ol>
			<div class="card mb-4">
				<div class="card-body">
					<div class="row">
						<Div class="col-lg-9">
							<table class="table">
								<thead>
									<tr>
										<th scope="col">Producto</th>
										<th scope="col">Precio</th>
										<th scope="col">Cantidad</th>
										<th scope="col">Total</th>
										<th scope="col">Acción</th>

									</tr>
								</thead>
								<tbody>
									<tr th:each="dorden:${cart}">
										<td th:text="${dorden.nombre}"></td>
										<td th:text="${dorden.precio}"></td>
										<td th:text="${dorden.cantidad}"></td>
										<td th:text="${dorden.total}"></td>
										<td>
											<a th:href="@{/delete/cart/{id} (id=${dorden.producto.id})}"
												class="btn btn-danger">Quitar</a>
										</td>
									</tr>
								</tbody>
							</table>
						</Div>
						<Div class="col-lg-3">
							<h2 class="card-title">SubTotal</h2>
							<ul class="list-group">
								<li class="list-group-item">
									<h5 th:text="${orden.total}"></h5>
								</li>
								<a th:href="@{/orden}" class="btn btn-light">Ver Orden</a>
							</ul>
						</Div>
					</div>
				</div>
			</div>
		</div>
	</main>

	</main><!-- End #main -->

	<!-- ======= Footer ======= -->
	<div th:include="usuario/templateUser.html::footer"></div>
	<!-- End Footer -->

	<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
			class="bi bi-arrow-up-short"></i></a>

	<div th:include="usuario/templateUser.html::js"></div>

</body>

</html>