<!DOCTYPE html>
<html lang="en" xmlsn="http://thymeleaf.org">

<head th:include="/administrador/templateAdmin.html::head">

</head>

<body>

	<div th:include="/administrador/templateAdmin.html::header"> </div>

	<main id="main" class="main">

		<div class="row text-center">

			<div class="col-lg-3 col-md-6 mb-4" th:each="producto: ${productos}">

				<div class="card h-100">

					<img class="card-img-top" th:src="@{/images/{img} (img=${producto.imagen})}">

					<div class="card-body">

						<p class="card-text" th:text="${producto.nombre}">

					</div>

				</div>

			</div>

		</div>

	</main>

	<div th:include="/administrador/templateAdmin.html::footer"></div>

	<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
			class="bi bi-arrow-up-short"></i></a>

	<div th:include="/administrador/templateAdmin.html::js"></div>

</body>

</html>